<div class="container mt-5">
  <% if can? :manage, Section %>
    <h1 class="text-center text-warning">Create Section</h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <%= render partial: 'shared/section_form', locals: { section: Section.new, form_path: section_index_path, form_method: :post } %>
      </div>
    </div>
  <% else %>
    <%= render partial: '/shared/not_authorized' %>
  <% end %>
</div>
