<h2 class="text-center text-warning">Edit Book</h2>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <%= render 'shared/book_transaction_form', book: @book_transaction, submit_text: "Update Book" %>
      </div>
    </div>